<!DOCTYPE html>
<html>
  <head>
    <title>Login | Job Evaluator - Análise de Currículos</title>
    <meta name="description" content="Ferramenta gratuita para analisar currículos.">
    <meta name="keywords" content="analisador de currículo, recrutamento">
    <meta name="robots" content="index, follow">
    <style>
      body {
        font-family: sans-serif;
        padding: 20px;
      }
      form {
        margin-top: 20px;
      }
      div {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Entrar no Sistema</h1>

    <form method="post">
        {% csrf_token %}
      <label>Email:</label>
      <input type="email" name="email" required class="form-control" />
      <br>
      <label>Senha:</label>
      <input type="password" name="password" required class="form-control" />
      <br>
      <button type="submit">Entrar</button>
    </form>

    <p>Não tem conta? <a href="{% url 'register' %}">Cadastrar-se</a></p>
  </body>
</html>
